:root {
font-family: assistant;
/* light mode */
--l1: #eee;
--l2: #ddd;
--l3: #ccc;
--l4: #bbb;
--lt: #222;
/* dark mode */
--d1: #222;
--d2: #333;
--d3: #444;
--d4: #555;
--dt: #eee;
}

:has(#toggle:checked) :is(label, main, .nav, h1, body) {
--l1: var(--d1);
--l2: var(--d2);
--l3: var(--d3);
--l4: var(--d4);
--lt: var(--dt);
}
:has(#toggle:checked) .light,
:has(input[id="toggle"]:not(:checked)) .dark { display:none; }

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;

body { background: var(--l1); }
h1, main { color: var(--lt); }
main {
padding: 20px 20px 20px 20px;   
}
/*-----------------------------------------------*/
/* làm mất hiệu ứng chớp xanh của thẻ <a> */
a, a:visited { 
-webkit-tap-highlight-color: transparent; 
-webkit-touch-callout: none; 
-webkit-user-select: none; 
-khtml-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none;
color: var(--lt);
text-decoration: none;
}
a:hover {
color: #666;
background: var(--l3);
}
a:focus { outline: none !important; }
/*-----------------------------------------------*/
nav {
background: var(--l2);
border-right: 2px solid var(--l4);
display: flex;
flex-direction: column;
align-items: flex-start;
grid-area: nav;

position: fixed;
top: 0px;
right: -100%;
z-index: 10;
width: 80%;
height: 100%;
transition: 0.1s linear;
}
a, h1{
height: auto;
width: 100%;
padding: 20px 30px;
}
#button:checked ~ nav { right: 0px; }
hr { 
  border: 0;
  display:block;
  width: 90%;               
  background-color: var(--l4);
  
  height: 2px;
  position: relative;
  left: 5%;
}

.border {
border: var(--l4) solid;
border-radius: 20px;
height: 40px;
width: 70px;

display: flex;
align-items: center;
margin: auto auto 10% 10% ;
float: bottom;
}
.toggle {
background: var(--l3);
box-shadow: 2px 2px 2px 2px var(--l4) inset;
margin: 0px 10px;
border-radius: 10px;
height: 20px;
width: 50px;
}
.circle {
background: var(--lt);
border-radius: 100%;
height: 20px;
width: 20px;
transition: 0.1s ease-in;
}
:has(#toggle:checked) .circle { margin-left: auto; }

picture {
grid-area: img;
width: 100%;
background-size: cover;
filter: brightness(60%);
}
:has(#toggle:checked) picture { filter: brightness(90%); }
img { width: 100%; }
/*-----------------------------------------------*/
#button, #toggle { display: none;
}
.button {
background: var(--l3);
border-radius: 100%;
position: fixed;

bottom: 20px;
right: 20px;
z-index: 20;
aspect-ratio: 1 / 1;
width: 15%;
}
/*-----------------------------------------------*/
@media only screen and (orientation: landscape) {
  nav { 
  position: relative;
  right: 0px;  
  width: 300px;
  }
  body {
  display: grid;
  grid-template-column: 1fr 1fr;
  grid-template-row: auto 1fr;
  grid-template-areas:
  "img img"
  "nav main";
  }
  main { grid-area: main; }  
  .button { display: none; }
}